.partidos {
width: 480px;
text-align: center;
}
.partidos h2 {
text-align: left;
}
.fuentes {
color: white; 
width: 480px;
}

h2 {
color: white;
text-decoration: underline;
}
.formulario{
color: white;
margin-left: 500px;
position: absolute;
}
.ligdere1 {
color: white;  
margin-left: 500px;
margin-top: 30px;
position: absolute;
}
.ligdere2 {
color: white;  
margin-left: 500px;
margin-top: 80px;
position: absolute;
}