body{
background: black url(../../imagenes/fondog.jpg) no-repeat center 0 fixed;
font:15px/20px Arial, Helvetica, sans-serif; 
}

/*links */
a{
color: white;
text-decoration: none;
} 

a:visited{
color: white;
} 

a:hover{
color:#862E2E;
}
/* logos*/

#panel_logos{
width: 1000px;
margin: 20px auto;
}

/* logo facebook*/

#panel_logos #facebook {
background: url(../../imagenes/facebook1.png) no-repeat 0 0;
float:left;
}

#panel_logos #facebook a{
width:38px; height:38px;
display:block; 
text-decoration:none; }

#panel_logos #facebook a:hover{
background:url(../../imagenes/facebook2.png) no-repeat 0 0 ;}

/* logo twitter*/

#panel_logos #twit {
background:url(../../imagenes/twiter1.png) no-repeat 0 0;
float:left;
margin-left:10px;
}

#panel_logos #twit a{
width:38px; height:38px;
display:block; 
text-decoration:none; }

#panel_logos #twit a:hover{
background:url(../../imagenes/twiter2.png) no-repeat 0 0 ;}

/* logo youtube*/

#panel_logos #youtube {
background:url(../../imagenes/youtube1.png) no-repeat 0 0;
float:left;
margin-left:10px;
}

#panel_logos #youtube a{
width:38px; height:38px;
display:block; 
text-decoration:none; }

#panel_logos #youtube a:hover{
background:url(../../imagenes/youtube2.png) no-repeat 0 0 ;}

/* banner titulo*/

#banner {
/*border: 1px solid #CCC;*/
background: url(../../imagenes/banner4.jpg) no-repeat 0 0;
overflow: hidden;
position: absolute;
top: 70px;
left: 10px;
right: 10px;
width: 1000px;
padding-right: 5em;
margin: 0px auto;
/* box-shadow: 8px 8px 5px #003366;           AÑADIMOS SOMBRA*/
}
 
/* nombre fifa*/

.izquierda { 
    float:left;
} 

/* Reproductor */

.reproductor {
float:right;
}
/* login */

.icono {
float: right; 
margin-top:10px; 
margin-right:10px;
}


#login {
border: 1px solid white;
	float: right;
	background: #7d7d7d;
	line-height: 100%;
	border-radius: 1.6em;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	font-weight: bold;
	padding:  2px 10px;
	margin: 0;
}
#login:hover {
	font-weight: bold;   
}

#nav {
border: 1px solid white;
	margin-right: 50px;
    margin-top:10px;
	float: right;
	padding: 7px 6px 0;
	background: #7d7d7d;
	line-height: 100%;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
    list-style: none; 
}

/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  2px 10px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #666;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff !important;
	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 120px;
	position: absolute;
	top: 25px;
	left: 0;
	background: #ddd;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

#nav {
	display: inline-block;
} 
/* Índice */

.indice {
background-image: url(../../imagenes/indice2g.jpg);
border-radius:18px; 
border: 1px solid white;
padding: 2em;
overflow: hidden;
position: absolute;
top: 175px;
left: 10px;
right: 10px; 
width: 1000px;
margin: 0px auto;
}

.nomindice { 
font-family: Impact, Arial, serif;
font-size: 30px;
letter-spacing: 4px; 
text-align: center;
word-spacing: 50px;
} 


/* Cuerpo principal de la página */

.cuerpo {
background-image: url(../../imagenes/bgg.png);
border-radius:18px; 
padding: 2em;
position: absolute;
top: 265px;
left: 10px;
right: 10px; 
width: 1000px;
margin: 0px auto;
}


.boton-top{
display: none;
position:fixed;
bottom:0;
right:0;
width:50px;
height: 50px;
text-align:center;
line-height:50px;
color:#fff;
background: grey;
cursor:pointer;
}